# ignore vim garbage
*.swp
*.swo
*.swn

# ignore cmake garbage
CMakeCache.txt
cmake_install.cmake
CMakeFiles/

logs/

# ignore binaries
edge-detector

# ignore config file to allow developers to include their own config for testing
config.yaml

# ignore data files
data/

*.jpg
*.json
massif*

# ignore csv file
*.csv

*.out
*.out.*
